Repository banan72/DevOps2022: changes, and which Jenkins stages are due for each by the changed paths.
All: Building: API, Building: Frontend

JenkinsfileProduction:

pipeline {
    agent any

    tools {nodejs "NodeJS"}

    stages {
        stage('Building: API') {
        when {
            anyOf {
                changeset "BackendAPI/**"
            }
        }
            steps{
                sh "echo '[API] Building...'"
                sh "dotnet build BackendAPI/WebApplication.sln"
            }
            post {
            		success {
            		sh "echo 'API built successfully'"
            		}
            	}
        }
    	
        stage('Building: Frontend') {
                when {
                    anyOf {
                        changeset "FrontendHappy/**"
                    }
                }
            steps{
                sh "echo '[FRONTEND] Building...'" 
                dir("FrontendHappy"){
                    sh "npm install"
                    sh "ng build"
                }
            }
        }
        
        stage("Reset containers"){
            steps{
                script{
                    try{
                        sh "docker-compose down"
                    }
                    finally {}
                }
            }
        }
        
        stage("Deploy"){
            steps{
                sh "docker-compose up -d"
            }
        }
    }
}

fixed prod jenkinsfile
  JenkinsfileProduction
Due: none

fix?
  BackendAPI/WebApplication/Startup.cs
  BackendAPI/WebApplication/main.db
Due: Building: API

?
  BackendAPI/WebApplication/Controllers/PlayerController.cs
  BackendAPI/banan72.DrinkingGame.DataAccess/Repositories/RuleRepository.cs
Due: Building: API

Update Startup.cs
  BackendAPI/WebApplication/Startup.cs
Due: Building: API

BED TIL JERES GUDER, FOR JEG VED IKKE HVAD FANDEN DER FOREGÅR, AHAHAHAHAHAHAAHHAHAHAHAHAHAAHAAA
  Jenkinsfile
  JenkinsfileProduction
  docker-compose.yml
Due: none

BED TIL JERES GUDER, FOR JEG VED IKKE HVAD FANDEN DER FOREGÅR, AHAHAHAHAHAHAAHHAHAHAHAHAHAAHAAA
  config/Prod.env
  config/Test.env
Due: none

fixed type OG BED NU TIL JERES GUDER
  Jenkinsfile
Due: none

fcuk
  Jenkinsfile
Due: none

Fixed JenkinsFile
  Jenkinsfile
Due: none

Fixed JenkinsFile
  docker-compose.yml
Due: none

Gone to the state before roll-back on main
  Jenkinsfile
  docker-compose.yml
Due: none

Something got deleted; found and fixed it
  Jenkinsfile
Due: none

Update PlayerController.cs
  BackendAPI/WebApplication/Controllers/PlayerController.cs
Due: Building: API

another try at getting docker to work
  docker-compose.yml
Due: none

ofc it doesn't fucking work, what'd I expect?
  Jenkinsfile
  docker-compose.yml
Due: none

forcing API and Frontend to build - fucking work already, I'll give my first born if this builds properly!!
  BackendAPI/WebApplication/Startup.cs
  FrontendHappy/src/main.ts
  Jenkinsfile
Due: Building: API, Building: Frontend

moved seeder
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

fixed the server container error, it can now run on the server
  Jenkinsfile
Due: none
